.gallery_content#carousel{
    overflow: auto;
    scroll-behavior: smooth;
    
}
#carousel::-webkit-scrollbar {
    height: 0;
  }

.gallery_content__items#content {
    
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 48.4rem) ;
    grid-gap: 20px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}


#testi_carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
#testi_carousel::-webkit-scrollbar {
    height: 0;
  }
#testi_content{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(10, 36rem) ;
    grid-gap: 100px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
.testimonials__context-item{
   width: 100%;
}

