$color_white__primary: #F3F7F8;
$color-primary: #2A8086;
$color-btn-bg: #FFFFFF;
$color-btn-text: #0D444D;
$color-text-white: #C5E1E6;
$color_logo: #0D444D; 
$color_footer: #196469;

$max-width-xl: 1920px;
$max-width-l: 1920px;
$max-width-m: 1199px;
$max-width-s: 640px;


$icon1: url(../assets/icons/binoculars.svg) center no-repeat;
$icon2: url(../assets/icons/dog-paw.svg) center no-repeat;
$icon3: url(../assets/icons/trust.svg) center no-repeat;
$icon4: url(../assets/icons/icons8-trust.svg) center no-repeat;
$icon5: url(../assets/icons/icons8-monkey.svg) center no-repeat;
$icon6: url(../assets/icons/icons8-donate.svg) center no-repeat;
$btn-watch: url(../assets/icons/btn_watch.svg) center no-repeat;

$icon-tv:url(../assets/icons/tv.svg);
$icon-penguin:url(../assets/icons/Penguin.svg);
$icon-slider:url(../assets/icons/btn-slider.svg);
$img-main: url(../assets/xtina-yu-mf94VWJlMwU-unsplash.svg);
$bg-opinie: url(../assets/others/fieldOpinie.svg);

$icon-map-pandas: url(../assets/icons/Mask_pandas.svg) ;
$icon-map-aligators: url(../assets/icons/Mask_gorilas.svg);
$icon-map-gorilas: url(../assets/icons/Mask_aligators.svg);
$icon-mask : url(../assets/icons/icon-mask.svg);

$photo_pandas: url(../assets/xtina-yu-mf94VWJlMwU-unsplash.svg) center no-repeat;
$photo_lemurs: url(../assets/photos/bob-walker-RI2B9wdlxLA-unsplash.jpg) center no-repeat;
$photo_elephants: url(../assets/photos/marc-bombenon-FzZWp6yrwEY-unsplash.jpg) center no-repeat;
$photo_alligators: url(../assets/photos/matthew-essman-IVG-_atJ048-unsplash.jpg) center no-repeat;
$photo_eagles: url(../assets/photos/nathan-lemon-L02yuFFNiLY-unsplash.jpg) center no-repeat;
$photo_gorillas: url(../assets/photos/simbi-yvan-NJuAzM8OhNE-unsplash.jpg) center no-repeat;
$photo_rapid: url(../assets/photos/victoria-bragg-FWA4Zk1hFls-unsplash.jpg) center no-repeat;
$photo_turtles: url(../assets/photos/wexor-tmg-L-2p8fapOA8-unsplash.jpg) center no-repeat;